@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Courier+Prime:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arvo:700&display=swap');
.blog .row .col-md-10 {
    background-color: white;

    align-content: center;
    padding: 20px 20px;

    border-radius: 25px;
    border-color: black;
    border-top-color: black;
    margin: 0px auto;


}


.blog h1 {
    font-family: -apple-system-caption1, BlinkMacSystemFont, sans-serif;
    font-weight: 900;
    color: #EDAE49;
    padding-bottom: 0.5em;
    margin-left: 110px;

}

.col-md-10:hover {

    box-shadow: 0px 7px 15px #C9871C;
    ;
    border-block-end-style: none;
}

.col-md-10 .row .col-md-5 {
    font-size: 20px;
    font-family: -apple-system-caption1, BlinkMacSystemFont, sans-serif;
    font-weight: 900;
    color: black;
    width: fit-content;

}

.col-md-10 .row .col-md-4 {
    color: black;
    font-family: -apple-system-caption1, BlinkMacSystemFont, sans-serif;
    font-weight: 900;
    overflow-wrap: break-word;

}

:root {
    --bggradient: linear-gradient(to right, #008040, #00bf60);
}

.dat {
    color: #EDAE49;
    font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
    font-weight: 900;

}
#scrolling-header {
    text-align: center;
    background-color: #EDAE49;
    color: black;
    font-size: 50px;
    font-weight: bold;
    padding: 10px 10px;
    z-index: 1;
    font-weight: bold;
    position: fixed;

    top: 0;
    width: 100%;
    transition: 0.2s;

    font-family: 'Montserrat', sans-serif;

}
body {
    background-color: black;
}


footer .textmo p {
    color: black;
    font-family: -apple-system-body, BlinkMacSystemFont, sans-serif;
    font-weight: lighter;

}

footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    margin-left: 20vim;
    padding: 14vmin 18vmin;
    font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
    font-weight: 900;
}

footer .fo {
    color: black;
    font-family: -apple-system-caption, BlinkMacSystemFont, sans-serif;
    font-weight: 900;

}
footer {
    background-color: #EDAE49;
    color: black;
}

footer p>span {
    color: #ff512f;
}

footer h4 {
    color: black;
}
#aaa {
    margin-left: 150px;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #aaa{
        margin-left: 0px;
    }

    #author-title{
        margin-left: 0px;
    }
}

