

#scrolling-header {
    text-align: center;
    background-color: #FF331F;
    color: black;
    font-size: 50px;
    font-weight: bold;
    padding: 10px 10px;
    z-index: 1;
    font-weight: bold;
    position: fixed;

    top: 0;
    width: 100%;
    transition: 0.2s;

    font-family: 'Montserrat', sans-serif;

}
