@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Courier+Prime:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arvo:700&display=swap');

:root {
    --bggradient: linear-gradient(to right, #008040, #00bf60);
}

.dat {
    color: #EDAE49;
    font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
    font-weight: 900;

}

#scrolling-header{
    text-align: center;
    background-color: #EDAE49;
    color: black;
    font-size: 50px;
    font-weight: bold;
    padding: 10px 10px;
    z-index: 1;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.2s;

    font-family: 'Montserrat', sans-serif;

}

#combut {
    font-family: -apple-system-body, BlinkMacSystemFont, sans-serif;
    font-weight: 900;

}

#exampleFormControlInput1 {
    background-color: grey;
    color: black;

}

#exampleFormControlTextarea1 {
    background-color: grey;
    color: black;
}

.comment textarea {

    color: black;
    font-family: -apple-system-body, BlinkMacSystemFont, sans-serif;
    font-weight: 900;
}

.comment input::placeholder {
    color: black;
    font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
    font-weight: 900;
}

.nav-item {
    padding-right: 0.8em;
}

.whole h1 {
    color: #EDAE49;
    font-family: -apple-system-caption, BlinkMacSystemFont, sans-serif;
    font-weight: 900;

}

#re h1 {
    Color: #EDAE49;
    font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
    font-weight: 900;


    padding-top: 2em;


}

#akil {
    width: 700px;
    height: 500px;
    margin-top: 5em;
    margin-left: 3em;
    padding-right: 1em;


}

#short h1 {
    color: #EDAE49;
    font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
    font-weight: 900;
}


#short {
    margin-top: 3em;
    padding-right: 2%;


    color: white;
}




#short p {
    font-size: 25px;
    margin-right: 2%;
    font-family: -apple-system-body, BlinkMacSystemFont, sans-serif;
    font-weight: 600;
}

body {
    font-family: -apple-system-tall-body, BlinkMacSystemFont, sans-serif;
    font-weight: 300;

}

.whole {
    font-size: 30px;
    background: white;
    color: black;
    font-family: -apple-system-tall-body, BlinkMacSystemFont, sans-serif;

    font-weight: 300;

    margin-top: 3em;
    margin-left: 7em;
    margin-right: 7em;

    padding-top: 2em;
    padding: 13vmin 5vmin 20vmin 10vmin;
    border: 2px black;
    box-shadow: 0px 25px 42px rgba(58, 57, 57, 0.2);
    border-radius: 7px;
}


.navbar {
    background: transparent;
}





body {
    background: black;
}

.header {
    font-family: 'Arvo', serif;

}

.re {
    margin-left: 8em;
}

.sec {

    padding-top: 2em;
    margin-left: 8em;
    margin-right: 7em;
    font-family: -apple-system-caption, BlinkMacSystemFont, sans-serif;
    font-weight: 900;

}

.sec .card:hover {
    background-color: #EDAE49;
    color: black;

}

.sec .card h5 {
    color: #FF331F;
    font-family: -apple-system-caption, BlinkMacSystemFont, sans-serif;
    font-weight: 900;

}

.card-img-top {
    width: 220px;
    height: 220px;
    margin-left: 1em;
}

.sec .card {
    width: 20em;
    background-color: black;
    color: white;
    border: 1px solid white;
    height: 70vim;

    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
}

.ima .row .col-md-6 img {

    width: 500px;
    height: 500px;
    padding-top: 2em;
    margin-left: 2em;
    align-content: center;
    padding-bottom: 3em;
}

.hola .row .col-md-3 {

    padding-right: 3em;
    padding-left: 2em;
    padding-top: 5em;
    bottom: 0;


}

.hola .row .col-md-9 {
    padding-left: 3em;

    padding-top: 5em;
    bottom: 0;
}

.hola .row .col-md-3 h6 {

    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color: black;

}

.hola .row .col-md-9 h1 {
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    font-weight: bolder;
}

.hola {
    background-color: black;

}

@media screen and (min-width:768px) and (max-width:1300px) {
    #short {
        padding-left: 200px;
    }
}

.header {
    background: black;
    color: white;

}

.dat {
    color: #EDAE49;
    font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
    font-weight: 900;

}

.viewcomment {
    margin-left: 24em;
    margin-right: 24em;
    padding: 2em;
    background-color: white;


}

.viewcomment h1 {
    font-family: -apple-system-caption1, BlinkMacSystemFont, sans-serif;
    font-weight: 900;
    color: black;
}

.commentcontainer {
    background-color: white;
    color: black;

    margin: 0em auto;

    vertical-align: middle;


}

.commentcontainer strong {
    font-weight: 800;
    font-family: -apple-system-caption1, BlinkMacSystemFont, sans-serif;
    color: black;
    padding-right: 0.5em;

    font-size: 25px;
}

.commentcontainer p {
    font-weight: 600;
    font-family: -apple-system-caption1, BlinkMacSystemFont, sans-serif;
    color: black;
    font-size: 17px;
    font-weight: bold;
    background-color: #e5e5e5;
    border-radius: 6px;




    margin: 0em auto;
    padding: 1em;
    vertical-align: middle;
}



/* Define the "system" font family */

/* Now, let's apply it on an element */


footer .textmo p {
    color: black;
    font-family: -apple-system-body, BlinkMacSystemFont, sans-serif;
    font-weight: lighter;

}

.comment h1 {
    text-align: left;
    font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
    font-weight: 900;
    color: #EDAE49;
    ;
}

.comment label {
    font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
    font-weight: 900;
    color: #EDAE49;
}

hr.comm {
    border-top: 1px solid #EDAE49;
}

.comment {
    margin: 3em;
    margin-left: 24em;
    margin-right: 24em;
    padding: 2em;
    border: 1px solid white;
}

footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    margin-left: 20vim;
    padding: 14vmin 18vmin;
    font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
    font-weight: 900;
}

footer .fo {
    color: black;
    font-family: -apple-system-caption, BlinkMacSystemFont, sans-serif;
    font-weight: 900;

}

#aaa {
    margin-left: 150px;
}

footer {
    background-color: #EDAE49;
    color: black;
}

footer p>span {
    color: #ff512f;
}

footer h4 {
    color: black;
}

/*

.hola .row {


    background-color: orange;
    width: 100%;


    margin-top: 100px;



}


.hola .row .col-xl-2 h6 {
    font-size: 2px;
}

.hola .row .col-md-4 h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: black;


    vertical-align: center;








}

.hola .row .col-md-4 {
    padding: 15vim 15vim;
    left: 2.5em;
    bottom: 0em;
    margin: 0px auto;

}



.amigo .row .col-md-4 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bolder;

    position: absolute;
    bottom: 0;






}*/
.replyform input {
    width: 100%;

}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    .whole {



        margin: auto;
        font-size: 20px;
        /* left: 2%; */
        margin-left: 12.5%;


    }

    #re h1 {
        margin-left: -90px;
    }

    body {

        margin: 0 auto;
        /* left: -5%; */
        margin-left: -4%;
        margin-right: 4%;

    }

    .viewcomment {
        width: 75%;
        /* margin: -4px; */
        margin-left: 70px;
    }

    #aaa {
        margin-left: -2.5%;
    }

    .sec .row .col-md-4 {
        width: 75%;
        padding: 0;
        margin-left: -90px;
        margin-right: 90px;
    }

    .comment {

        width: 75%;
        margin-left: 75px;
        margin-top: 12.5%;
    }

    #short {
        margin-left: 12.5%;
        padding-bottom: 50px;
        /* margin-bottom: 300px;*/
    }

    #akil {

        margin-left: 21%;
        width: 75%;

    }
}