{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ blog.title }}</title>




<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static 'css/story1.css' %}">
{% endblock %}


{% block body %}


<div id="scrolling-header" onclick="location.href='/'" style="cursor: pointer;">
    <p>Tech Snippets</p>
</div>

<div class="header">

    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg ">
            <a class="navbar-brand" href="#">
                <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
            </a>
            <div class="mr-auto"></div>

        </nav>

    </div>

</div>

    <div class="hola" style="padding-top: 50px;">
        <div class="row">
            <div class="col-md-6 col-xs-2">

                <img src="{{ blog.image.url }}" id="akil" alt="" class="pic">

            </div>
            <div class="col-md-6 col-xs-2 " id="short">
                <h1>{{ blog.title }}</h1>
                <p>{{ blog.summary }}</p>
                <p class="dat" id="dat">
                    <a href="/{{ blog.author }}/">{{ blog.author }}</a> | {{ blog.date }}
                </p>

            </div>
        </div>

    </div>


<div class="whole">
    <div class="row">
        <div class="col-md-12 col-xs-2">
            <h1>
                <!-- Apple Review Goes Here -->
            </h1>
            <p>
                {{ blog.description }}
            </p>
        </div>
    </div>
</div>
<div>
    <div class="comment" id="comment">
        <h1>Comment down your view.</h1>
        <hr class="comm">
        <form action="#comment" method="POST"> {% csrf_token %}
            {{ form.as_p }}
            
            <input type="submit" class="btn btn-outline-success" value='Add comment' name="submit-comment" id="combut">
        </form>
        {% if form.name.errors %}
        <script>alert("Please enter a valid name!")</script>
        {% endif %}
        {% if form.email.errors %}
        <script>alert("Please enter a valid email address!")</script>
        {% endif %}
        {% if form.comment.errors %}
        <script>alert("Please enter a valid comment!")</script>
        {% endif %}
    </div>
    <div class="viewcomment">
        <h1>Comments:</h1>
        <div class="commentcontainer">
            {% if comments %}
            {% for comment in comments %}
            <p><strong>{{ comment.name }}</strong>~{{ comment.dateTime }}<br>{{ comment.comment }}</p><br>
            {% endfor %}
            {% else %}
            <p>No comments yet! :(</p>
            {% endif %}
        </div>
    </div>
    <!-- {% if new_comment %}
    <script>alert("comment added")</script>
    {% endif %} -->


    {% if all_blogs %}
    <hr class="comm">
    <div class="re" id="re">
        <h1>Other articles!</h1>
    </div>
    <div class="sec">
        <div class="row">
            {% for each_blog in all_blogs %}
            <div class="col-md-4">
                {% if each_blog.id != blog.id %}
                <div class="card" onclick="location.href='/blog/{{ each_blog.id }}';" style="cursor: pointer;">
                    <img src="{{ each_blog.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ each_blog.title }}</h5>
                        <p class="card-text">{{ each_blog.summary }}</p>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}

        </div>
    </div>
    {% endif %}
</div>


{% endblock %}