{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155104643-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-155104643-1');
    </script>

    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'images/icon.jpg' %}">
</head>

<body>

    <div class="akil">
        <h1>About us!</h1>
    </div>
    <div class="section1">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-5 col-xs-2">
                        <div class="panel">
                            <i class="fa fa-css3"> </i>
                            <h1>UI Design & Development.</h1>
                            <p>Designed and Developed by Akil Vishnu.
                                This Blog is made reponsive to both smart phones and Personal Computers.
                            </p>
                            <!-- <a href="https://github.com/akmads18">github.com/akmads18</a> -->
                        </div>
                    </div>

                    <div class="col-md-5 col-xs-2" id="hari">
                        <div class="panel">
                            <i class="fa fa-database"> </i>

                            <h1>Backend Development.</h1>
                            <p>
                                The website hosting through azure and the backend magic has been created by Harinarayanan!
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-2"></div>
        </div>
    </div>
    
</body>


</html>