{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155104643-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-155104643-1');
    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'images/icon.jpg' %}">
    {% block head %}
    {% endblock %}
</head>

<body>

    
    {% block body %}
    {% endblock %}
     
    <footer style="width: 100%;">
        <div class="container-fluid p-0">
            <div class="row text-left" id="contact">

                <div class="col-md-5 col-sm-5" style="cursor: pointer;">
                    <a href="/about/"><h4 class="fo">About us</h4></a>
                    <p class="textmo" onclick="location.href='/about/'">We are tech enthusiasts bringing you information about the latest tech happening around the world! Click to know more.</p>
                    <br>
                </div>
                
                <div class="col-md-5 col-sm-5" id="aaa">
                    <h4 class="fo">Queries and Updates</h4>


                    <p class="textmo">Let us be social</p>
                    <div class="column text-light">
                        <a href="https://www.instagram.com/tech_snippets/"><i class="fa fa-instagram" style="font-size: 50px;"></i></a>
                    </div>
                </div>

                <div id="space"><br><br><br></div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <center style="padding-top: 50px;">CONTACT US AT techsnippets718@gmail.com</center>


            </div>
        </div>
        <br>
        <div style="text-align:center;">If you are interested in writing blogs, feel free to contact us!</div>
    </footer>
    <script>
        // When the user scrolls down 50px from the top of the document, resize the scrolling-header's font size


        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {

            if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                if (window.screen.width < 500) {
                    document.getElementById("scrolling-header").style.fontSize = "10px";
                }
                else
                    document.getElementById("scrolling-header").style.fontSize = "25px";
                document.getElementById("scrolling-header").innerHTML = "Tech Snippets - Blog for Technophiles";
                document.getElementById("scrolling-header").style.textAlign = "center";
                /* document.getElementById("logo").style.visibility = "hidden"; */         

                /* document.getElementById("logo").width = "100px";
                document.getElementById("logo").height = "100px"; */
                /* document.getElementById("heading").style.visibility = "visible"; */
            } else {
                
                 if (window.screen.width < 500) {
                    document.getElementById("scrolling-header").style.fontSize = "25px";
                }
                
                else
                    document.getElementById("scrolling-header").style.fontSize = "60px";
                document.getElementById("scrolling-header").style.textAlign = "center";
                document.getElementById("scrolling-header").innerHTML = "Tech Snippets";  
                /* document.getElementById("logo").style.visibility = "visible";   */    
            }

        }


    </script> 
    
    {% block script %}
    {% endblock %}


</body>

</html>