{% load static %}
<!DOCTYPE html>
<html>

<head>
    
    {% block head %}
    {% endblock %}
</head>

<body>
    
    <!-- <div id="scrolling-header">
        <p>Tech Snippets</p>
    </div> -->
    

        {% block body %}
        {% endblock %}
    </div>
    <script>
        // When the user scrolls down 50px from the top of the document, resize the scrolling-header's font size

        

        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                document.getElementById("scrolling-header").style.fontSize = "25px";
                document.getElementById("scrolling-header").innerHTML = "Tech Snippets - Blog for Technophile"
                document.getElementById("scrolling-header").style.textAlign = "left";
                //document.getElementById("scrolling-header").style.backgroundColor = "#FF331F";

            } else {

                document.getElementById("scrolling-header").style.fontSize = "60px";
                document.getElementById("scrolling-header").style.textAlign = "center";
                document.getElementById("scrolling-header").innerHTML = "Tech Snippets";
                //document.getElementById("scrolling-header").style.backgroundColor = "black";
            }
        }

        

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
        {% block script %}
        {% endblock %}


</body>

</html>
